<div fxLaout 
    fxLayoutWrap 
    fxLayoutAlign='space-around center' 
    [style.background]='"#FF5722"' 
    [@apear]='show'
    (@apear.done)='animationDone($event)'>
               <div fxLayout='column' 
                    fxLayoutAlign='center center'
                    class="job-element" 
                    *ngFor='let group of backendService.groups' >
                    <h1 class="mat-typography gallery-title">{{group.name}}</h1>
                    <div fxLayout fxLayoutAlign='center center' class='circle-container'>
                        <img class="circle-image" *ngIf='group.imgURL && group.imgURL.length > 0'[src]="group.imgURL[0].imgURL" >
                    </div>
                    <button mat-raised-button class='view-button'><mat-icon>&#xE926;</mat-icon> Skaičiuoti kainą</button>
               </div>
</div>