<div fxLayout fxLayoutAlign='center center' id='image-background'>
    <div class="mat-typography" fxLayout fxLayoutWrap fxLayoutAlign='center center' id='paslaugos'>
        <p>Paslaugos:</p>
             <mat-chip-list >
                    <mat-chip  *ngFor='let group of backendService.groups'>{{group.name}}</mat-chip>
            </mat-chip-list>
    </div>      
</div>

<div  fxLayout 
        fxLayoutWrap 
        fxLayoutAlign="center"
        [@apear]='show'
        (@apear.done)='animationDone($event)'
        >
        <mat-card class="group-card" 
                 *ngFor='let group of backendService.groups'>
                <mat-card-header>
                  <mat-card-title>{{group.name}}</mat-card-title>
                  <mat-card-subtitle fxLayout fxLayoutAlign='center center' >
                    <mat-icon>&#xE412;</mat-icon>{{" "+group.gallerys}}  galerij<span *ngIf="group.gallerys > 1">os</span><span *ngIf="group.gallerys == 1">a</span> 
                  </mat-card-subtitle>
                </mat-card-header>  
                <div fxLayout fxLayoutAlign='center center' class="image-container" [matTooltip]='group.gallerys > 1? "Žiūrėti galerijas":"Žiūrėti galeriją"' matTooltipClass='show-more'>
                    <img class="my-image" *ngIf="group.imgURL[0]" [src]="group.imgURL[0].imgURL" [alt]="group.imgURL[0].name">
                </div>
                <mat-card-content style="height:45px;">
                    <span [ngSwitch]="true">
                    <p *ngSwitchCase="group.description.length>50">
                        <span style="cursor:pointer" [matTooltip]='group.description' matTooltipClass='show-more'>
                            {{group.description.slice(0,50)}}[...] 
                        </span>
                    </p>
                    <p *ngSwitchCase="group.description.length<50">
                        maziau nei 50
                    </p>
                    <p *ngSwitchDefault>
                    
                    </p>
                    </span>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button><mat-icon mat-list-icon>&#xE926;</mat-icon>Skaičiuoti kainą</button>
                </mat-card-actions>
              </mat-card>
 </div>

 <!-- <div id="index-backgroud"></div> -->
 