.gallery-card{
    width: 200px;
    margin-bottom: 10px;
    height:-webkit-fit-content;
    height:-moz-fit-content;
    height:fit-content
}
.gallery-card:nth-child(even){
    margin-left: 10px;
}
.gallery-card:nth-child(odd){
    margin-left: 10px;
}
#gallerys-container{
    padding: 10px;
}
.my-image{
    width: 100%;
}
.image-container{
    height: 150px;
    width: 100%;
    overflow: hidden;
    left: 0;
    cursor: pointer;
}
.gallery-number{
    position: absolute;
    right: 30px;
    font-weight: 800;
}
#filter-container{
    position: fixed;
    top: 66px;
    left: 0;
    width: 100%;
    z-index: 2;
}
#filter-gallerys{
    margin: 0 10px;
    padding: 10px;
    position: relative;
    background: white;
    border: 2px solid #607D8B;
    border-radius: 16px;
    height: 90px;
}
.empty-spacer{
    height: 100px;
}

 