.gallery-card{
    width: 200px;
    margin-bottom: 10px;
    margin-left: 10px;
    height:-webkit-fit-content;
    height:-moz-fit-content;
    height:fit-content
}
.my-image{
    width: 100%;
}
.image-container{
    height: 150px;
    width: 100%;
    overflow: hidden;
    left: 0;
    cursor: pointer;
}
.gallery-number{
    position: absolute;
    right: 30px;
    font-weight: 800;
}
#filter-gallerys{
    position: fixed;
    top: 66px;
    left: 0;
    width: calc(100% - 20px);
    margin: 0 10px;
    padding: 10px;
    z-index: 2;
    background: white;
    border: 2px solid #607D8B;
    border-radius: 16px;
}


 