<div *ngIf="user" fxLayout fxLayoutAlign='space-around center' id="main-container">
  <!-- next usser  -->
   <div class="left-button" matTooltip='Ankstesnis paslaugų teikėjas'  matTooltipClass='show-more' >
      <button *ngIf='users.length > 1' fxShow.lt-sm='false' (click)="prevImg($event)" mat-fab class="button-style"><mat-icon class='arrow-icon'>&#xE5CB;</mat-icon></button> 
  </div> 
  <div fxLayout fxLayoutAlign='space-around center'
      fxLayoutAlign ='space-around center'
      matTooltip='Daugiau info ...'
      matTooltipClass='show-more'
      (click)='showInfo(user)' 
      [@flyRight]='right'
      (swipeleft)='swipe($event)'
      (@flyRight.done)="right_animation_done($event)"
      [@flyLeft]='left'  
      (swiperight)='swipe($event)'
      (@flyLeft.done)="left_animation_done($event)" >
    <div id="circle-image-container">
      <img id='circle-image' *ngIf="user.images[0]" [src]="user.images[0].imgURL" alt="">
    </div>
    <div id="status-container" fxLayout='column' fxLayoutAlign='center' >
      <div id="status">
          <span [ngSwitch]="user.status" class='mat-typography'>
              <div fxLayout fxLayoutAlign='space-between center'  *ngSwitchCase="0" class='limit-height' >
                <span class='indicator red'></span>
                 Užimtas 
              </div>
              <div fxLayout fxLayoutAlign='space-between center' *ngSwitchCase="1" class='limit-height' >
                <span class='indicator orange'></span>
                Atotogos 
              </div>
              <div fxLayout fxLayoutAlign='space-between center' *ngSwitchCase="2" class='limit-height' >
                <span class='indicator green'></span>
                 Laisvas 
              </div>
              <p *ngSwitchDefault>
              
              </p>
            </span>
      </div>
      <div *ngIf="user.status != 2" class='mat-typography' id="status-time" fxLayout fxLayoutAlign='space-between center'>
          <mat-icon mat-list-icon>&#xE916;</mat-icon>
          iki {{user.date | date:'yyyy-MM-dd'}}
      </div>
    </div>
  </div>
  <!-- previous user -->
  <div class="right-button" matTooltip='Sekantis paslaugų teikėjas' matTooltipClass='show-more' >
    <button *ngIf='users.length > 1' (click)=nextImg($event) fxShow.lt-sm='false' class="button-style" mat-fab ><mat-icon class='arrow-icon'>&#xE315;</mat-icon></button>
  </div>
</div>