.limit-height{
  height: 35px !important;
}
.indicator{
  display: block;
  margin: 0 10px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}
.green{
  background: #4CAF50;
  box-shadow: 0px 0px 5px 5px #388E3C;
}
.red{
  background: #D32F2F;
  box-shadow: 0px 0px 5px 5px #F44336;
}
.orange{
  background: #F57C00;
  box-shadow: 0px 0px 5px 5px #FF9800;
}
/*status mesage color  */
.free{
  background: #388E3C;
  color: white;
}
.resting{
  background: #FF9800;
  color: white;
}
.working{
  background: #F44336;
  color: white;
}
/* logo style */
#circle-image{
  height: 100%;
  width: auto;
}
#logo-container{
  min-width: 130px;
  min-height: 130px;
  height: 130px;
  width: 130px;
  overflow: hidden;
}
.user-el{
  display: flex;  
  height:100% ;
  position: relative;
}
#team-container{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  height: 100%;
}
.user-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.button-style{
 background : rgba(255,255,255,0) !important;
box-shadow: unset !important;
}
.arrow-icon{
  color: black !important;
}