app-my-team{
  width: 300px;
}
.indicator{
  display: block;
  margin: 0 10px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}
.green{
  background: #4CAF50;
  box-shadow: 0px 0px 5px 5px #388E3C;
}
.red{
  background: #D32F2F;
  box-shadow: 0px 0px 5px 5px #F44336;
}
.orange{
  background: #F57C00;
  box-shadow: 0px 0px 5px 5px #FF9800;
}
/*status mesage color  */
.free{
  background: #388E3C;
  color: white;
}
.resting{
  background: #FF9800;
  color: white;
}
.working{
  background: #F44336;
  color: white;
}

#circle-image{
  height: 50px;
  width: auto;
}
#circle-image-container{
  border-radius: 20px;
  height: 40px;
  width: 40px;
  overflow: hidden;
}
.button-style{
 background : rgba(255,255,255,0) !important;
box-shadow: unset !important;
}
.arrow-icon{
  color: white !important;
}
#main-container{
  cursor: pointer;
}
