#opacity-background{
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: black;
    opacity: .7;
    z-index: 2;
  }
  #for-animation{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: 0 ;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    z-index: 3;
    height: 100%;
  }
  @media screen and (max-width: 640px){
    #fixed-container{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      box-sizing: border-box;
      position: fixed;
      top: 0;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      min-height: 100%;
      width: 100%;
      z-index: 4;
      left: 0;
      background: black;
    }
  
    #gallery-name,
     #description,
     #left-button,
     #right-button{
      display: none !important;
    }
    #image-footer{
      visibility: hidden;
    }
      
    .hidden-content{
      opacity: 1 !important;;
    }
    #picture-el{
      width: 100%;
    }
    #gallery-list-open{
      position: fixed;
      top: 10px;
      left: 10px;
      color: white;
      z-index: 1000 !important;
    }
    #side-navigation{
      z-index: 1000;
    }
  }
  @media screen and (min-width: 640px){
    #fixed-container{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: fixed;
      box-sizing: border-box;
      top: 0;
      left: 0 ;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 100%;
      z-index: 4;
      height: 100%;
    }
    #gallery-list-open{
      display: none;
    }
  }
  
  #right-button{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    right: 0;
    width: 100px;
    cursor: pointer;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 9;
    transition:opacity .5s linear;
  }
  #left-button{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    left: 0;
    width: 100px;
    cursor: pointer;
    height: 100%;
    z-index: 9;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    transition:opacity .5s linear;
  }
  #img{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    width: auto;
    max-width: 100%;
  }
  #picture-el{
    height: auto;
    max-height: 100%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #image-footer{
    display: block;
    position: absolute;
    background: -moz-linear-gradient(rgba(255, 255, 255,0),rgba(0, 0, 0,.5));
    padding: 0 20px;
    bottom: 0;
    left: 0;
    height: auto;
    width: 100%;
  }
  
  #galerijos-pavadimas{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    float: left;
    border-bottom: 1px solid white;
    color: white;
    font-size: 18px;
    padding-left: 20px;
    font-weight: bold;
  }
  #footer-info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding-left: 20px;
    color: white;
    float: left;
  }
  #close-button{
    position: fixed;
    right: 0;
    top: 0;
    color: white;
    margin: 10px;
    z-index: 5;
    cursor: pointer;
  }
  .arrow-icon{
    color: white !important;
  }