
   <div fxLayout fxLayoutWrap fxLayoutAlign='space-around' style="overflow:auto">
      <mat-card *ngFor="let picture of pictures" class="picture-card">
              <mat-card-header fxLayout='column' style="width:100%" fxLayoutAlign='center center'>
                  <div fxLayout='column' style="width:100%" fxLayoutAlign='center center'>
                      <mat-card-subtitle>Fotografuota: {{picture.created | date:'yyyy-MM-dd'}}</mat-card-subtitle>
                  </div>
                  <div fxLayout fxLayoutAlign='center center'>
                      <mat-icon>image</mat-icon>
                      <p>{{picture.gallery_name}}</p>
                  </div>
              </mat-card-header>
              <div fxLayout fxLayoutAlign='center center' class="image-container" >
                  <img class="my-image"  [src]="picture.imgURL" >
              </div>
              <mat-card-content style="height:45px;">
                      <span [ngSwitch]="true">
                      <p *ngSwitchCase="picture.description.length>50">
                          <span style="cursor:pointer" [matTooltip]='picture.description' matTooltipClass='show-more'>
                              {{picture.description.slice(0,50)}}[...] 
                          </span>
                      </p>
                      <p *ngSwitchCase="picture.description.length<50">
                          {{picture.description}}
                      </p>
                      <p *ngSwitchDefault>
                      
                      </p>
                      </span>
                  </mat-card-content>
      </mat-card>
  </div>
  