
   <div fxLayout fxLayoutWrap fxLayoutAlign='space-around' id="picture-container" >

    <div  fxLayout='column'  *ngFor="let picture of pictures" class="picture-card">
       <div class="picture-info">
         <h2>{{picture.gallery_name}}</h2>
         <h3>{{picture.created | date:'yyyy-MM-dd'}}</h3>
       </div>
       <div fxLayout fxLayoutAlign='center center' class="image-container">
         <img  [src]="picture.imgURL" class="my-image" [alt]="picture.name">
       </div>
         <p>
           {{picture.descrition}}
         </p>
      </div>
   </div>
