.job-card{
    width: 200px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.full-width{
    width: 100%;
}
input{
    text-align: center;
}
.top-right{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}
.example-container {
    width: 100%;
    height: calc(100% - 64px);
  }
  
  .example-sidenav-content {
    height: 100%;
    width: 100%;
  }
  
  .example-sidenav {
    padding: 20px;
  }
  