
<mat-sidenav-container >
  <mat-sidenav #sidenav  >
    <mat-nav-list >

      <h3  matSubheader>Už darbus: {{samataMaterialPrice+samataWorkPrice }} <mat-icon>euro_symbol</mat-icon></h3>
      <h3  matSubheader>Už medžiagas: {{samataWorkPrice }} <mat-icon>euro_symbol</mat-icon></h3>
      <h3  matSubheader>Viso: {{samataMaterialPrice }} <mat-icon>euro_symbol</mat-icon></h3>
      <mat-divider></mat-divider>
  
      <!-- ************* VIEW SAMATA BUTTON ************* -->
        <mat-list-item  (click)='sidenav.close()'>
          <button mat-button color="warn" [disabled]="samata.length == 0" (click)='viewList()' matTooltip='Žiūrėti samatą'><mat-icon>view_list</mat-icon> Žiūrėti samata ({{samata.length}})</button>
        </mat-list-item>
        <mat-list-item  (click)='sidenav.close()'>
          <button mat-button color="primary" [disabled]='samata.length == 0' (click)='viewList()' matTooltip='Siūsti samatą'><mat-icon>send</mat-icon> Siūsti samatą </button>
        </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
    
  <mat-sidenav-content >
    <div fxLayout fxLayoutWrap fxLayoutAlign='space-around' style="width:100%;">
              <!-- ************** CONTROLS FOR MOBILE VIEW ************ -->
      <div  fxHide.gt-xs='true' fxLayout fxLayoutWrap fxLayoutAlign='center' class="mobile-view-control">
        <!-- BACK FROM VIEW SAMATA VIEW BUTTON -->
        <span fxFlex='15'>
          <button mat-fab color="primary" [disabled]="!view_samata" (click)='rows = previous_rows;view_samata =false' matTooltip='Tęsti skaičiavimą'><mat-icon>undo</mat-icon></button>
        </span>
      <!--  mobile search field -->
        <mat-form-field fxFlex='70' >
            <span matPrefix><mat-icon>search</mat-icon></span>
            <input #searchMobile  matInput type="text"  placeholder="Ieškoti" autocomplete="off">   
            <button *ngIf="search.value != ''" matSuffix mat-icon-button  (click)="search.value = ''; rows = constRows">
              <mat-icon>close</mat-icon>
            </button> 
        </mat-form-field> 
        <!-- OPEN SIDENAV OPTIONS -->
        <span fxFlex='15'>
          <button  mat-fab (click)="sidenav.open()" ><mat-icon>settings</mat-icon></button>
        </span>
        
      <!--  mobile group list -->
        <mat-form-field fxFlex='80'>
            <mat-select (selectionChange)='filterRows($event)'   placeholder="Paslaugos" [formControl]="groupList" multiple>
              <mat-select-trigger>
                {{groupList.value && groupList.value[0] ? groupList.value[0].name : ''}}
                <span *ngIf="groupList.value?.length > 1" class="example-additional-selection">
                  (+{{groupList.value.length - 1}} kitos)
                </span>
              </mat-select-trigger>
              <mat-option *ngFor="let group of groups; let i = index" [disabled]='view_samata'  [value]="group" >{{group.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <span fxLayout fxLayoutAlign='center center' fxFlex='10'>
            <mat-checkbox  (change)='selectAll($event)' [disabled]='view_samata'></mat-checkbox>
          </span>
      </div>
              <!-- ************** CONTROLS FOR DESKTOP VIEW ************ -->
            
                <div id='control-panel' fxLayout='column' fxLayoutWrap fxLayoutAlign='center center' fxHide.xs = 'true' >
                    <mat-form-field style="width:180px;">
                      <span matPrefix><mat-icon>search</mat-icon></span>
                      <input #search  matInput type="text"  placeholder="Ieškoti" autocomplete="off">   
                      <button *ngIf="search.value != ''" matSuffix mat-icon-button  (click)="search.value = ''; rows = constRows">
                        <mat-icon>close</mat-icon>
                      </button> 
                    </mat-form-field>  
                      <!-- row filter  -->
                    <mat-form-field >
                      <mat-select (selectionChange)='filterRows($event)'   placeholder="Paslaugos" [formControl]="groupList" multiple>
                        <mat-select-trigger>
                          {{groupList.value && groupList.value[0] ? groupList.value[0].name : ''}}
                          <span *ngIf="groupList.value?.length > 1" class="example-additional-selection">
                            (+{{groupList.value.length - 1}} kitos)
                          </span>
                        </mat-select-trigger>
                        <mat-option *ngFor="let group of groups; let i = index" [disabled]='view_samata'  [value]="group" >{{group.name}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <!-- SELECT ALL ROWS -->
                      <mat-checkbox (change)='selectAll($event)' [disabled]='view_samata'>Pažymėti visas</mat-checkbox>
                      <!-- SAMATA CONTROLS  -->
                          <!-- view samata -->
                      <button mat-raised-button color="warn" class="control-button" *ngIf="!view_samata" [disabled]='samata.length == 0' (click)='viewList()' matTooltip='Žiūrėti samatą'><mat-icon>view_list</mat-icon> Žiūrėti samata ({{samata.length}})</button>
                          <!-- send samata -->
                      <button mat-raised-button color="primary" class="control-button" style='margin-bottom:10px' [disabled]='samata.length == 0' (click)='sendSamata()' matTooltip='Siūsti samatą'><mat-icon>send</mat-icon> Siūsti samatą </button>
                          <!-- navigate back to list -->
                      <button mat-fab color="primary" style="margin:10px 0" *ngIf="view_samata" (click)='rows = previous_rows;view_samata =false' matTooltip='Tęsti skaičiavimą'><mat-icon>undo</mat-icon></button>
                      <mat-chip-list class="mat-typography mat-chip-list-stacked" aria-orientation="vertical">
                          <mat-chip fxLayout fxLayoutAlign='space-between center' style="background:#757575 !important" selected="true">Kaina už darbus:<span >{{samataWorkPrice | number:'.2'}}</span><mat-icon>euro_symbol</mat-icon></mat-chip>
                          <mat-chip fxLayout fxLayoutAlign='space-between center' style="background:#616161 !important" selected="true">Kaina už medžiagas:<span >{{samataMaterialPrice | number:'.2'}}</span><mat-icon>euro_symbol</mat-icon> </mat-chip>
                          <mat-chip fxLayout fxLayoutAlign='space-between center' style="background:#424242 !important" selected="true">Viso:<span >{{(samataMaterialPrice+samataWorkPrice) | number:'.2'}}</span><mat-icon>euro_symbol</mat-icon><mat-icon matTooltip='Ištrinti samatą' (click)='deleteSamata()' matChipRemove >cancel</mat-icon> </mat-chip>
                        </mat-chip-list>
                    </div>
                  
                      <!-- SAMATA CARD  -->
                    <div id="cards-container" *ngIf="rows.length > 0" fxLayout fxLayoutWrap fxLayoutAlign='center center'>
                      <mat-card *ngFor='let row of rows' class="job-card">
                          <button *ngIf="view_samata"  (click)='removeRow(row)' class="top-right" matTooltip='Ištrinti' mat-icon-button > <mat-icon>&#xE5C9;</mat-icon></button>
                          
                          <mat-card-header>
                            <mat-card-title ><span #rowName >{{row.search_name }}</span></mat-card-title>
                            <mat-card-subtitle>Kaina {{row.price}} €/{{row.type}}</mat-card-subtitle>
                          </mat-card-header>
                          <mat-card-content>
                              <form >
                                  <mat-form-field class="full-width">
                                    <span matPrefix>{{row.type}}</span>
                                    <input matInput type="number" placeholder="Kiekis " 
                                                                  [(ngModel)]="row.input" 
                                                                  [ngModelOptions]="{standalone: true}"
                                                                  (keydown)='limitValue(row,"input")' 
                                                                  (keyup)='limitValue(row,"input")' min="0" maxlength="4" autocomplete="off">
                                  </mat-form-field>
                                  <mat-form-field class="full-width">
                                    <span matPrefix>{{row.iseiga_type}}</span>
                                    <input matInput type="number" [placeholder]="'Išeiga '+'1 '+row.type" 
                                                                  [(ngModel)]="row.iseiga" 
                                                                  [ngModelOptions]="{standalone: true}"
                                                                  (keydown)='limitValue(row,"iseiga")' 
                                                                  (keyup)='limitValue(row,"iseiga")' min="0" autocomplete="off">
                                  </mat-form-field>
                                  <mat-form-field class="full-width">
                                    <span matPrefix>€</span>
                                    <input matInput type="number" [placeholder]="row.material_name+ ' 1 '+row.iseiga_type+' kaina'" 
                                                                  [(ngModel)]="row.material_price" 
                                                                  [ngModelOptions]="{standalone: true}"
                                                                  (keydown)='limitValue(row,"material_price")'
                                                                  (keyup)='limitValue(row,"material_price")' min="0" autocomplete="off">
                                  </mat-form-field>
                                  <p *ngIf='row.iframeURL !=""' >Kur pirkti medžiagas? <button mat-icon-button><mat-icon>&#xE88F;</mat-icon></button> </p>
                                  <p>Suma už darbus: {{(row.input*row.price) | currency:'EUR':true:'1.2-2'}} </p>
                                  <p>Suma už medžiagas:{{(row.input*row.material_price*row.iseiga) | currency:'EUR':true:'1.2-2'}} </p>
                                  <p>Viso :{{((row.input*row.price)+(row.input*row.material_price*row.iseiga )) | currency:'EUR':true:'1.2-2'}} </p>
                    
                                </form>
                          </mat-card-content>
                          <mat-card-actions>
                            <button mat-button *ngIf="!row.added" (click)='addToList(row)'><mat-icon>&#xE854;</mat-icon>Įtraukti į samatą</button>
                            <button mat-raised-button  color='accent' *ngIf="row.added" (click)='updateSamata(row)'><mat-icon>refresh</mat-icon>Atnaujinti samatą</button>
                          </mat-card-actions>
                        </mat-card>
                      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>