.job-card{
    width: 200px;
    margin-left: 10px;
    margin-bottom: 10px;
    height:-webkit-fit-content;
    height:-moz-fit-content;
    height:fit-content
}
/* card input */
.full-width{
    width: 100%;
}
input{
    text-align: center;
}
.top-right{
    position: absolute;
    top: 0;
    right: 0;
}

@media only screen and (min-width: 600px) {
    #cards-container{
        width: calc(100% - 200px);
        margin-left: 200px;
        padding-top: 20px;
    }
    #control-panel{
          padding-top: 10px;
          position: fixed;
          left: 0;
          top: 60px;
          width: 200px;
      }
  }
  @media only screen and (max-width: 600px) {
    #cards-container{
        width: 100% ;
        padding-top: 170px;
        margin-top: 10px;
    }
    #control-panel{
        display: none;
    }
  }
.control-button{
    width: 90%;
    margin-top: 10px;
}
.mobile-view-control{
    position: fixed;
    top: 66px;
    left: 0;
    width: calc(100% - 20px);
    margin: 0 10px;
    padding: 10px;
    z-index: 2;
    background: white;
    border: 2px solid #607D8B;
    border-radius: 16px;
}