<mat-sidenav-container class="example-container">
    <mat-toolbar id='top-menu' color="primary">
      <!-- <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>more_vert</mat-icon>
      </button>  -->
      <button type="button" mat-icon-button (click)="sidenav.open()">
        <mat-icon>more_vert</mat-icon> 
      </button>
      
      <!-- BUTTON FOR CREATE NEW TABLE ROW -->
      <button *ngIf='backendService.item_type =="table"'
               mat-icon-button matTooltip='Pridėti elementą'
               (click)='addTableRow()' 
               [disabled]='backendService.addToList == true'>
          <mat-icon>&#xE3CD;</mat-icon>
      </button>
      <!-- BUTTON FOR DELTE MULTIPLE ITEMS -->
      <button *ngIf='backendService.item_type !=""' 
               mat-icon-button
               matTooltip='Ištrinti kelis elementus' 
               (click)='createList()' >
        <mat-icon [style.color]='backendService.addToList? "red" : "" '>&#xE16C;</mat-icon>
      </button>
      <span fxLayout="row" fxLayoutAlign="space-around center" *ngIf='backendService.addToList'>
        <button mat-icon-button (click)='deleteItems()'><mat-icon >&#xE5CA;</mat-icon></button>
        <button mat-icon-button (click)='backendService.resetList()'><mat-icon >&#xE5CD;</mat-icon></button>
      </span>
      <!-- This fills the remaining space of the current row -->
      <span class="fill-remaining-space"></span>
      <!-- SEND MAIL BUTTON -->
      <button mat-fab color='warn' ><mat-icon>&#xE151;</mat-icon></button>
      
    </mat-toolbar>
    <mat-sidenav #sidenav class="example-sidenav">
        <mat-nav-list >
          <mat-list-item (click)="add_team_memeber();sidenav.close()">
             <mat-icon>&#xE7FE;</mat-icon> Pridėti varotoją 
          </mat-list-item>
          <mat-list-item  routerLink='/admin/select-user' (click)="sidenav.close()">
            <mat-icon>&#xE8D3;</mat-icon>
            Pasirinkti varotoją
          </mat-list-item>
          <mat-divider></mat-divider>
          <h3 *ngIf='!backendService.selected_user' matSubheader>Vartotojas nepasirinktas</h3>
          <h3 *ngIf='backendService.selected_user' matSubheader>Vartotojas: <span style="color:rgb(216, 66, 66)">{{backendService.selected_user.name}}</span></h3>
          <span *ngIf='backendService.selected_user'>
            <mat-list-item routerLink='groups' (click)='sidenav.close()'>
              <mat-icon >&#xE896;</mat-icon> Redaguoti grupes 
            </mat-list-item>
            <mat-list-item (click)="sidenav.close();createNewGroup()">
                <mat-icon>&#xE03B;</mat-icon> Pridėti grupę 
              </mat-list-item>
              <mat-list-item routerLink='upload-images' (click)='sidenav.close()'>
                <mat-icon>&#xE439;</mat-icon> Įkelti paveikslėlių 
              </mat-list-item>
              <mat-list-item routerLink='private-images' (click)='sidenav.close()'>
                <mat-icon>&#xE8A0;</mat-icon> Tvarkyti   paveikslėlius 
              </mat-list-item>
            </span>
            </mat-nav-list>
          </mat-sidenav>
          
          <div class="example-sidenav-content">
            <span class='nav-spacer'></span>
            <router-outlet></router-outlet>
            <span fxShow.gt-md="false" class='nav-spacer'></span>
        <mat-toolbar fxShow.gt-md="false"  fxLayout="row"  color='primary' fxLayoutWrap fxLayoutAlign="space-between center" id='bottom-menu'>
          <button mat-icon-button (click)=location.back()><mat-icon>&#xE5C4;</mat-icon></button>
          <button mat-icon-button routerLink='/admin/groups' ><mat-icon>&#xE88A;</mat-icon></button>
          <button mat-icon-button (click)=location.forward()><mat-icon>&#xE5C8;</mat-icon></button>
        </mat-toolbar>
      </div>
    </mat-sidenav-container>
    
