<mat-sidenav-container class="example-container">
    <mat-toolbar id='top-menu' color="primary">
      <!-- <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>more_vert</mat-icon>
      </button>  -->
      <button type="button" mat-icon-button (click)="sidenav.open()">
        <mat-icon>more_vert</mat-icon> 
      </button>
      <button fxHide.xs type="button" mat-button [routerLink]='["/"]'>
        <mat-icon>home</mat-icon> Pagrindinis
      </button>
      <app-my-team></app-my-team> 
      
      <!-- This fills the remaining space of the current row -->
      <span class="fill-remaining-space"></span>
      <!-- SEND MAIL BUTTON -->
      <button mat-fab color='warn' (click)='sendMail()' ><mat-icon>&#xE151;</mat-icon></button>
    </mat-toolbar>
<!-- ******************* HIDDED NAVIGATION ***************** -->
    <mat-sidenav #sidenav class="example-sidenav">
        <mat-nav-list >
         <!-- GALLERY LIST  -->
          <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState1 = true"
                                 (closed)="panelOpenState1 = false">
                    <!-- TAB NAME  -->
              <mat-expansion-panel-header  [class.active-button]='panelOpenState1'>
                  <p fxLayout fxLayoutAlign='center center' style="padding-right:10px">
                    <mat-icon>photo_library</mat-icon> Galerijos
                  </p>
              </mat-expansion-panel-header>
              <mat-list-item *ngFor="let group of backendService.groups; let i = index" 
                              [routerLink]='["/galerijos",group.user_id,i]'
                              [routerLinkActive]="'active-link'"
                              (click)='sidenav.close()'>
                 <p fxLayout fxLayoutAlign="end center" style="width:100%">{{group.name}}<mat-icon>photo</mat-icon></p>
              </mat-list-item> 
            </mat-expansion-panel>
         <!-- JOB ROWS LIST  -->
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false" >
                    <!-- TAB NAME  -->
              <mat-expansion-panel-header [class.active-button]='panelOpenState'>
                  <p fxLayout fxLayoutAlign='center center' style="padding-right:10px">
                    <mat-icon >euro_symbol</mat-icon> Samatos skaičiuoklė 
                  </p>
              </mat-expansion-panel-header>
               <mat-list-item *ngFor="let group of backendService.groups; let i = index"
                              (click)='sidenav.close();'
                              [routerLink]='[group.user_id,i]'
                              [routerLinkActive]="'active-link'">
                 <p fxLayout fxLayoutAlign="end" style="width:100%">{{group.name}}</p>
               </mat-list-item> 
            </mat-expansion-panel>
          </mat-accordion>
        </mat-nav-list>
    </mat-sidenav>
<!-- ********** MAIN CONTENT *********  -->
    <div fxLayout='column' fxLayoutWrap fxLayoutAlign='center center' id='main-content' >
      <router-outlet ></router-outlet>
      <!-- MOBILE PHONE NAVIGATION visible on 600px or less -->
      <mat-toolbar fxHide.gt-xs='true'  fxLayout  color='primary' fxLayoutWrap fxLayoutAlign="space-between center" id='bottom-menu'>
        <button mat-icon-button (click)=location.back()><mat-icon>&#xE5C4;</mat-icon></button>
        <button mat-icon-button [routerLink]='["/"]' ><mat-icon>&#xE88A;</mat-icon></button>
        <button mat-icon-button (click)=location.forward()><mat-icon>&#xE5C8;</mat-icon></button>
      </mat-toolbar>
    </div>
 </mat-sidenav-container>
    
