
.fill-remaining-space {
    flex: 1 1 auto;
  }
#top-menu{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 60px;
    background: #607D8B;
}

.nav-spacer{
    display: block;
    width: 100%;
    height: 60px;
}
/* bottom menu for mobile phones */
#bottom-menu{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 100%;
    z-index: 1;
    background: #607D8B;
}
.bottom-spacer{
    display: none;
}

#main-content{
    position:relative;
    margin-top: 60px;
    width:100%;
    height: calc(100% - 60px);  
    overflow: hidden; 
}
@media only screen and (max-width: 600px) {
   #main-content{
       margin-bottom: 60px;
    height: calc(100% - 120px);   
    
   }
}
.active-button{
    background: #E64A19 !important;
    color: white;
}
.active-link{
    background: #FF5722 !important;
    color: white;
}