/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.mat-expansion-panel-body{
    padding: 0 !important;
    }
.gallery-group-list .mat-option-text mat-icon{
    position: absolute;
    right: -10px;
    top: 13px;
}

.full-width{
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
 overflow-x: hidden;
overflow-y: auto; 
}
body,html{
    margin:0;
    height:100%;
}
mat-sidenav{
    padding: 0;
}
mat-sidenav-container{
    width: 100%;
    position: relative;
    height: 100% !important;
}
mat-sidenav-content {
    width: 100%;
    height: 100% !important;
    position: relative;
}

app-pictures,
app-gallerys,
app-job-store,
app-job-price
{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}
@media only screen and (max-width: 600px) {
    .position-snackbar{
        position: absolute;
       bottom: 60px;
       width: 90%;
    }
}
/* for circle image display */
.circle-image{
    height: 120px;
    width: auto;
}
.circle-container{
    border-radius: 40px;
    min-width: 80px;
    min-height: 80px;
    height: 80px;
    width: 80px;
    overflow: hidden;
    margin: 10px;
}
/* style end */
/* styles for index page slider */
.right-button{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 0;
  top: 0;
  width: 0;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.left-button{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  z-index: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
}
  .arrow-icon{
    color: white;
  }
  /* tooltip class with bigger font size */
  .show-more{
    font-size: 15px;
}
.team-modal{
    height: 100%;
}